<div class="filter">
  <div class="form">
    <div class="form--top">
      <div class="form__name">
        <mat-form-field>
          <mat-label>Nome</mat-label>
          <input
            matInput
            placeholder="Digite o nome"
            type="text"
            [(ngModel)]="filterOptions.name"
            required
          />
        </mat-form-field>
      </div>
      <div class="form__date-picker">
        <mat-form-field>
          <mat-label>Data de Cadastro</mat-label>
          <mat-date-range-input [rangePicker]="picker" required>
            <input
              matStartDate
              placeholder="Data inicial"
              [(ngModel)]="filterOptions.startDate"
              required
            />
            <input
              matEndDate
              placeholder="Data final"
              [(ngModel)]="filterOptions.endDate"
              required
            />
          </mat-date-range-input>
          <mat-hint>dia/mês/ano - dia/mês/ano</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
      </div>
    </div>
    <div class="form--bottom">
      <div class="form__status">
        <mat-form-field>
          <mat-label>Status</mat-label>
          <mat-select
            matNativeControl
            required
            [(ngModel)]="filterOptions.status"
          >
            <mat-option
              *ngFor="let status of statusList"
              [value]="status.value"
              >{{ status.description }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
      <div class="fomr__button">
        <button
          mat-raised-button
          color="primary"
          class="btn"
          (click)="onFilter()"
        >
          Filtrar
        </button>
      </div>
    </div>
  </div>
</div>
